body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    flex-direction: column;
}


.square:hover {
    background-color: black;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background-color: white;
    flex: 0 1 500px;
}

.black {
    background-color: black;
}

.btn_container {
    display: flex;
    gap: 100px;
    margin-top: 5px;
}