body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    flex: 1 0 0;
    background-color: white;
    height: 10px;
    min-width: 10px;
    max-width: 10px;
    border: 1px solid black;
}

.square:hover {
    background-color: black;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

.black {
    background-color: black;
}